USE [master]
GO
/****** Object:  Database [DB_KDPM_QLGB]    Script Date: 5/26/2022 10:03:55 PM ******/
CREATE DATABASE [DB_KDPM_QLGB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_KDPM_QLGB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DB_KDPM_QLGB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_KDPM_QLGB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DB_KDPM_QLGB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_KDPM_QLGB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_KDPM_QLGB]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 5/26/2022 10:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [varchar](10) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/26/2022 10:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [varchar](10) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatBao]    Script Date: 5/26/2022 10:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatBao](
	[MaDatBao] [int] IDENTITY(1,1) NOT NULL,
	[NgayDat] [datetime] NULL,
	[MaKH] [int] NULL,
	[MaNV] [int] NULL,
	[TongTien] [float] NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_DatBao] PRIMARY KEY CLUSTERED 
(
	[MaDatBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_DanhSachDatBao]    Script Date: 5/26/2022 10:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view_DanhSachDatBao] as
SELECT dbo.DatBao.MaDatBao, dbo.DatBao.NgayDat, dbo.KhachHang.TenKH, dbo.NhanVien.TenNV, dbo.DatBao.TongTien, dbo.DatBao.TinhTrang
FROM dbo.DatBao 
INNER JOIN
dbo.KhachHang ON dbo.DatBao.MaKH = dbo.KhachHang.MaKH 
INNER JOIN
dbo.NhanVien ON dbo.DatBao.MaNV = dbo.NhanVien.MaNV
GO
/****** Object:  Table [dbo].[LoaiBao]    Script Date: 5/26/2022 10:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiBao](
	[MaLoaiBao] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiBao] [nvarchar](100) NULL,
	[GiaTien] [float] NULL,
 CONSTRAINT [PK_LoaiBao] PRIMARY KEY CLUSTERED 
(
	[MaLoaiBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDatBao]    Script Date: 5/26/2022 10:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDatBao](
	[MaDatBao] [int] NOT NULL,
	[MaLoaiBao] [int] NOT NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [float] NULL,
 CONSTRAINT [PK_ChiTietDatBao] PRIMARY KEY CLUSTERED 
(
	[MaDatBao] ASC,
	[MaLoaiBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_ChiTietDatBao]    Script Date: 5/26/2022 10:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view_ChiTietDatBao] as
SELECT dbo.ChiTietDatBao.MaDatBao, dbo.LoaiBao.TenLoaiBao, dbo.LoaiBao.GiaTien, dbo.ChiTietDatBao.SoLuong, dbo.ChiTietDatBao.ThanhTien, dbo.ChiTietDatBao.NgayBatDau, dbo.ChiTietDatBao.NgayKetThuc
FROM dbo.ChiTietDatBao 
INNER JOIN
dbo.LoaiBao ON dbo.ChiTietDatBao.MaLoaiBao = dbo.LoaiBao.MaLoaiBao
GO
/****** Object:  View [dbo].[view_ThongKeSoLuongDatLoaiBao]    Script Date: 5/26/2022 10:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view_ThongKeSoLuongDatLoaiBao] as
select MaLoaiBao, count(*) as SoLuong 
from ChiTietDatBao 
group by MaLoaiBao
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 5/26/2022 10:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[MaQuyen] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyen] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 5/26/2022 10:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](100) NULL,
	[MatKhau] [nvarchar](100) NULL,
	[MaNV] [int] NULL,
	[TinhTrang] [bit] NULL,
	[MaQuyen] [int] NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietDatBao]  WITH CHECK ADD  CONSTRAINT [FK_CTDB_DatBao] FOREIGN KEY([MaDatBao])
REFERENCES [dbo].[DatBao] ([MaDatBao])
GO
ALTER TABLE [dbo].[ChiTietDatBao] CHECK CONSTRAINT [FK_CTDB_DatBao]
GO
ALTER TABLE [dbo].[ChiTietDatBao]  WITH CHECK ADD  CONSTRAINT [FK_CTDB_LoaiBao] FOREIGN KEY([MaLoaiBao])
REFERENCES [dbo].[LoaiBao] ([MaLoaiBao])
GO
ALTER TABLE [dbo].[ChiTietDatBao] CHECK CONSTRAINT [FK_CTDB_LoaiBao]
GO
ALTER TABLE [dbo].[DatBao]  WITH CHECK ADD  CONSTRAINT [FK_DatBao_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DatBao] CHECK CONSTRAINT [FK_DatBao_KhachHang]
GO
ALTER TABLE [dbo].[DatBao]  WITH CHECK ADD  CONSTRAINT [FK_DatBao_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[DatBao] CHECK CONSTRAINT [FK_DatBao_NhanVien]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_PhanQuyen] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[PhanQuyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_PhanQuyen]
GO
USE [master]
GO
