<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.DB_KDPM_QLGBConnectionString"
            connectionString="Data Source=DANGTRI-LAPTOP\SQLEXPRESS;Initial Catalog=DB_KDPM_QLGB;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>