<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProjectSettings.Properties.Settings>
            <setting name="UserConnectionString" serializeAs="String">
                <value>Data Source={0}; Initial Catalog={1}; User ID={2}; Password={3};</value>
            </setting>
        </ProjectSettings.Properties.Settings>
    </userSettings>
</configuration>